<h3 align="center">CSP Fund Transfer Statement of <%= params[:date_selected] %> </h3>
<br/>
<% total = 0 %>
<table cellspacing="1" border="1" align="center">
  <thead>
  <tr>
    <th>SNo</th>
    <th>CSP Code</th>
    <th>Name</th>
    <th>Account</th>
    <th>Branch</th>
    <th>Amount</th>
  </tr>
  </thead>
  <% i=1 %>
  <% @transactions.each do |tr| %>
      <tr align="left">
        <td><%= i %></td>
        <td><%= tr.csp_code %></td>
        <td><%= get_csp_name(tr) %></td>
        <td><%= get_csp_account_number(tr) %></td>
        <td><%= get_csp_branch(tr) %></td>
        <% amount = (-1) * tr.amount %>
        <td align="right"><%= amount= amount % 100 == 0 ? amount : amount - (amount % 100) %></td>
        <% total += amount %>
      </tr>
      <% i = i + 1 %>
  <% end %>
  <tr>
    <td colspan="5" align="right">Total</td>
    <td align="right"><%= total %></td>
  </tr>
</table>

