<h3 align="center">Account Statement for <%= params[:date_selected]%> </h3>
<br/>
<% total = 0 %>
<table cellspacing="1" border="1" align="center">
  <thead>
  <tr>
    <th>SNo</th>
    <th>CSP Code</th>
    <th>Name</th>
    <th>Account</th>
    <th>Branch</th>
    <th>Amount</th>
  </tr>
  </thead>
  <% i=1 %>
  <% @transactions.each do |tr| %>
      <tr align="left">
        <td><%= i %></td>
        <td><%= tr.csp_code %></td>
        <td><%= get_csp_name(tr) %></td>
        <td><%= get_csp_account_number(tr) %></td>
        <td><%= get_csp_branch(tr) %></td>

        <td align="right"><%= (-1) * tr.amount %></td>
        <% total += tr.amount %>

      </tr>
      <% i = i + 1 %>
  <% end %>
  <tr>
    <td colspan="5" align="right">Total Amount</td>
    <td align="right"><%= (-1)*total %></td>
  </tr>
</table>

