<p align="center">CSP Fund Transfer Statement of <%= params[:date_selected] %> </p>
<% total = 0 %>
<table class="tablesorter1" align="center">
  <thead>
  <tr>
    <th>SNo</th>
    <th>CSP Code</th>
    <th>Name</th>
    <th>Account</th>
    <!--<th>Branch</th>-->
    <th>Code</th>
    <th>Amount</th>
  </tr>
  </thead>
  <% i=1 %>
  <% @transactions.each do |tr| %>
      <tr align="left">
        <td><%= i %></td>
        <td><%= tr.csp_code %></td>
        <td><%= get_csp_name(tr).titleize %></td>
        <td><%= get_csp_account_number(tr) %></td>
        <!--<td><%# get_csp_branch(tr).titleize %></td>-->
        <td><%= get_csp_branch_code(tr) %></td>
        <% amount = (-1) * tr.amount %>
        <td align="right"><%= amount= amount % 100 == 0 ? amount : amount - (amount % 100) %></td>
        <% total += amount %>
      </tr>
      <% i = i + 1 %>
  <% end %>
  <tr>
    <td colspan="5" align="right">Total: </td>
    <td align="right"><%= total %></td>
  </tr>
</table>

<style type="text/css">
    table.tablesorter1 {
        border-collapse: collapse;
        border: 1px solid #000000;
        font-family:'Bookman Old Style',Bookman,'URW Bookman L','Palatino Linotype',serif;
        font-size: 15px;
    }

    table.tablesorter1 td, table.tablesorter1 th {
        border-collapse: collapse;
        border: 1px solid #000000;
    }
    p
    {
        font-family:'Bookman Old Style',Bookman,'URW Bookman L','Palatino Linotype',serif;
    }

</style>

