<h3>Accounts | Edit Account</h3>
<div class="list">
  <div class="help_text">
    * Edit the below form for Account.<br/>* Please check all entries before Save.
  </div>
<%# render 'form' %>
  <div class="form-container">
    <p class="legend">
      <strong>Note:</strong>
      Required fields are marked with an asterisk (<em>*</em>)
    </p>
    <%= simple_form_for(@account, :validate => true) do |f| %>
        <fieldset>
          <%= f.input :name, :label => 'Enter Name of CSP', :placeholder => "CSP Name" %>
          <%= f.input :csp_code, :label => 'Enter CSP Code', :placeholder => "3A430000" %>
          <%= f.input :mobile, :label => 'Enter Mobile Number', :placeholder => "Ex:9292929292" %>
          <%= f.input :bank_name, :label => 'Enter Bank Name', :input_html => {:value => 'SBI'} %>
          <%= f.input :bank_branch, :label => "Enter Branch Name" %>
          <%= f.input :bank_code, :label => "Enter Branch Code" %>
          <%= f.input :account_number, :label => "Enter Account Number"%>
          <%= f.submit 'Save', :disable_with => 'Please wait...' %>
        </fieldset>
    <% end %>
  </div>
<%= link_to 'Show', @account, :class=>"more" %> &nbsp;
<%= link_to 'Back to Accounts', accounts_path,:class=>"more" %>
</div>